<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funny Chat Talk</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css'>
    <link rel='stylesheet' href='style.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
</head>
<body>
    <fieldset>
        <legend>GifChat</legend>
        <div id="messages"></div>
        <div id="chooseGif"></div>   
        <input type="text" id="yourChat" placeholder="Type here what you want to say">
        <button id="talkBtn">Talk</button>
    </fieldset>
    <audio id="Talking"></audio>
<script src="index.js"></script>
</body>
</html>